<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php">

    <testsuites>
        <testsuite name="AWS Module Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <file>./Module.php</file>
            <directory suffix=".php">./src/Aws</directory>
        </whitelist>
    </filter>

</phpunit>
