<?php
return array(
    // These are the minimum required settings for using the SDK
    'aws' => array(
        'key'    => 'change_me',
        'secret' => 'change_me',
        'region' => 'change_me'
    ),

    // Instead of defining settings in this file, you can provide a path to an AWS SDK for PHP config file
    // 'aws' => 'path/to/aws-config.php',
);
